@font-face {
  font-family: 'Freigeist';
  src: url('../public/fonts/Freigeist-Regular.woff2') format('woff2'),
      url('../public/fonts/Freigeist-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Freigeist';
  src: url('../public/fonts/Freigeist-RegularItalic.woff2') format('woff2'),
      url('../public/fonts/Freigeist-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Freigeist';
  src: url('../public/fonts/Freigeist-Medium.woff2') format('woff2'),
      url('../public/fonts/Freigeist-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}